<h2>Lobby</h2>

<div ng-show="!lobby">Loading lobby data...</div>
<div ng-show="lobby">
  <p><a href="#/create">Create a new game</a></p>
  <p><a ng-click="refresh()">Refresh</a></p>
  <h3>Active Games</h3>
  <div class="gameList" ng-repeat="game in lobby.liveGames" ng-click="toGame(game.id)">
    <span ng-show="game.myTurn" class="green bold">Your turn</span>
    <span ng-show="!game.myTurn" class="red bold">Opponent's turn</span>
    vs. {{ game.opponent.displayName }}
  </div>

  <h3>Invites</h3>
  <div class="gameList" ng-repeat="game in lobby.requests" ng-click="showAccept($index)">
    Invite from {{ game.opponent.displayName }}.
    <div ng-show="game.accepting">
      <form name="acceptForm{{game.id}}">
        Secret word:
        <input type="text" ng-minlength=5 ng-maxlength=5 ng-model="game.word" ng-pattern="/^[A-Za-z]+$/" required>
        <button ng-click="accept($index, game.id, game.word)" ng-disabled="$invalid">Accept</button><br />
        <p ng-show="$invalid">Your secret word must be exactly 5 letters.</p>
        <p ng-show="game.error">{{ game.error }}</p>
      </form>
    </div>
  </div>
</div>

