<div ng-show="!game">Loading game...</div>
<div ng-show="game">
  <h2>Game with {{ game.them.displayName }}</h2>

  <div class="error" ng-show="error">{{ error }}</div>

  <table class="outerTable">
    <tr>
      <td class="table" ng-repeat="table in tables" id="{{ table.id }}">
        <h4 class="tableHeading">{{ table.title}}</h4>
        <table class="guesses">
          <tr ng-repeat="row in table.table.guesses">
            <td>{{row.word}}</td>
            <td>{{row.correct}}</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <div id="alphabet">
    <ul class="alphabet">
      <li class="alphabet" ng-repeat="x in letters" ng-click="clickLetter(x)">
        <span class="{{ colorClasses[game.me.alphabet[x]] || '' }}">{{x}}</span>
      </li>
    </ul>
  </div>

  <br/><br />

  <div ng-show="!game.over && game.myTurn">
    <h3>Guess</h3>

    <form name="guessForm">
      Word: <input type="text" size=5 ng-maxlength=5 ng-model="guess" required>
      <button ng-click="doGuess()" ng-disabled="!guess || $invalid">Guess</button>
    </form>
  </div>
  <div ng-show="!game.over && !game.myTurn">
    It is {{ game.them.displayName }}'s turn.
  </div>
  <div ng-show="game.over">
    This game is over. {{ winner() }} won.
    <a href="#/lobby">Click here</a> to return to the lobby.
  </div>

  <div id="notes">
    <h3>Notes</h3>
    <textarea ng-model="game.me.notes" rows=6 ng-change="notesChanged()"></textarea>
  </div>
</div>

